@use '../vars' as vars

$dirs: top, right, bottom, left

.border
    border: var(--border)
    @each $bs in vars.$border-styles
        &--#{$bs}
            border: var(--border)
            border-style: $bs

@each $dir in $dirs
    .border-#{$dir}
        border-#{$dir}: var(--border)
        @each $bs in vars.$border-styles
            &--#{$bs}
                border-#{$dir}: var(--border)
                border-style-#{dir}: $bs

.rounded
    border-radius: var(--border-radius)
